.battleships__ .battleships {
  &__board {
    width: 500px;
    height: 500px;
    background-color: #1f1f1f;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }

  &__boardSquare {
    background-color: #505050;
    border-radius: 5%;
  }
}
