.colors__memory {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.memory__button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &.red {
        background-color: #C81414;
        &.light {
            background-color: #FF4D4D;
        }
    }
    &.orange {
        background-color: #FF9430;
        &.light {
            background-color: #FFB84D;
        }
    }
    &.yellow {
        background-color: #FFCF53;
        &.light {
            background-color: #FFE680;
        }
    }
    &.darkblue {
        background-color: #1458B8;
        &.light {
            background-color: #4D8AFF;
        }
    }
    &.blue {
        background-color: #389DFA;
        &.light {
            background-color: #66B5FF;
        }
    }
    &.green {
        background-color: #33C153;
        &.light {
            background-color: #66FF80;
        }
    }
    &.purple {
        background-color: #AB55F0;
        &.light {
            background-color: #D580FF;
        }
    }
    &.pink {
        background-color: #FC6AFF;
        &.light {
            background-color: #FF99FF;
        }
    }
    &.darkgreen {
        background-color: #1A7F30;
        &.light {
            background-color: #35aa50;
        }
    }
}