.ctb {
  background-color: #fff;
  width: 350px;
  height: 40vh;
  min-height: 350px;
  font-family: "Poppins";

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 10px;

  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);

  border-radius: 5px;

  &__gamename {
    font-family: "Spicy Rice";
    font-size: 36px;
    color: #5a189a;
  }

  &__turn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  &__c4 {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &__counter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: #fff;

      font-family: "Wallpoet", sans-serif;
      font-size: 36px;
    }
  }

  &__buttonbox {
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 10px;
  }

  &__button {
    &.click {
      width: 75%;
    }
    &.skip {
      width: 25%;
    }
    height: 50px;

    background-color: #b87de8;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 0px 0px #5a189a;

    cursor: pointer;

    //button text style
    color: #fff;

    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;

    &:active {
      box-shadow: 0px 2px 0px 0px #5a189a;
      transform: translateY(2px);
    }

    &:disabled {
      background-color: hsl(273, 35%, 80%);
      transform: translateY(2px);
      box-shadow: 0px 2px 0px 0px hsl(273, 35%, 70%);
    }
  }
}
