.roomWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomGrid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;

  height: 100vh;
  width: 100vw;

  justify-items: center;

  align-items: center;
}
.gui {
  bottom: 22vh;
  position: absolute;
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
