.roomGrid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 25% 50% 25%;

  height: 100vh;
  width: 100vw;
  padding: 10px;

  box-sizing: border-box;

  justify-items: center;

  align-items: center;
}

.roomContent {
  position: relative;
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gui {
  width: 100vw;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
